@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

.model-one {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.model-one::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}

.model-two{
    padding: 2rem;
}

.model-two::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}

#lista-de-viagens{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.5rem;
    padding: 15px;
}

.home{
    margin-top: -100px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.titulo-principal{
    font-family: Francois One;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.btn-opcoes{
    width: 100%;
    padding: 30px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #98d6fc50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}

.titulo-form {
    font-family: Francois One;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.form-cadastrar {
    display: flex;
    flex-direction: column;
}

label {
    font-family: Francois One;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #000000;
}

input, select {
    font-family: Francois One;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #98d6fc;
}

.ui.blue.button {
    margin-top: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.barra-superior{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #98d6fc50;
    padding: 10px;
    z-index: 1000; 
}

.titulo-consultar{
    font-family: Francois One;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.caixa-pesquisa{
    display: grid;
    top: 0px; 
    right: 0px; 
    position:absolute;
}

.data, .participantes, .tipo{
    font-family: Francois One;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}

.destino{
    text-align: center;
}

.apagando {
    animation: fadeout 2s;
}

@keyframes fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
  